name: build-push
on:
  workflow_dispatch:
  push:
    branches: [main]
  schedule:
    - cron: '15 12 * * *'

jobs:
  lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      contents: read
      id-token: write
    steps:
    - uses: 'actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd' # v5

    - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
      with:
        dockerfile: Dockerfile
        verbose: true

    - name: check valid sh
      run: shellcheck **/*.sh

  build-push:
    needs: [lint]
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php-version: ["8.3", "8.4"]
        drupal-version: ["11.1.x", "11.2.x-dev"]

    steps:
    - uses: 'actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd' # v5

    - name: Extract branch or tag name as docker tag
      shell: bash
      run: |-
        if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
          TAG=$(echo "${GITHUB_REF#refs/tags/}" | sed 's/[^a-zA-Z0-9._-]//g' | awk '{print substr($0, length($0)-120)}')
        else
          TAG=$(echo "${GITHUB_REF#refs/heads/}" | sed 's/[^a-zA-Z0-9._-]//g' | awk '{print substr($0, length($0)-120)}')
          if [ "$TAG" = "main" ]; then
            TAG=""
          fi
        fi
        echo "tag=$TAG" >> $GITHUB_OUTPUT
        DRUPAL_MAJOR_MINOR=$(echo "${{ matrix.drupal-version }}" | cut -d. -f1,2)
        echo "drupal_version=$DRUPAL_MAJOR_MINOR" >> $GITHUB_OUTPUT
      id: extract_tag

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

    - name: Docker Hub Login
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
      with:
        registry: 'docker.io'
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push dockerhub
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
      with:
        platforms: |
          linux/amd64
          linux/arm64/v8
        build-args: |
          PHP_VERSION=${{ matrix.php-version }}
          DRUPAL_VERSION=${{ matrix.drupal-version }}
        push: true
        tags: |
          lehighlts/drupal-ci:${{ steps.extract_tag.outputs.drupal_version }}-php${{ matrix.php-version }}${{steps.extract_tag.outputs.tag}}
